.cats
  position absolute
  bottom 0
  left 0
  right 0

.cat
  position relative

.cat-him
  margin-left 4.2rem
  width 3.5rem

.cat-body
  background-color get-color(cat)
  border-radius 20rem 20rem 0 0
  
.cat-him .cat-body
  height 10.3rem
  transform: skewY(-7deg);
  
.cat-ears
  &:before
  &:after
    content ''
    position absolute
    top -.3rem
    border-radius: 20rem 0 0 0
    height 5rem
    width 1.2rem
    background-color get-color(cat)
    transform skew(0, -10deg)
  &:before
    left -.3rem
  &:after
    left 1.1rem
    
.cat-back
    background-color get-color(cat)
    width 6.6rem
    height 6.9rem
    border-radius 50%
    position absolute
    right 0
    bottom 0
    &:before
    &:after
      content: ""
      position: absolute
      bottom: 0
    &:before
      height: 2rem
      width: 1rem
      left: 0.9rem
      background-color get-color(cat)
    &:after
      height: 0.7rem;
      left: 0.9rem;
      right: -0.5rem;
      border-radius: 0 10rem 0 0;
      background-color get-color(paws)

.cat-eyes
  position absolute
  top 1rem
  width 100%
  height 0.6rem
  display flex
  align-items center
  
.cat-eyes-pupils
  display flex
  align-items center
  justify-content flex-end
  gap 0.3rem
  margin-right 0.4rem
  height 100%
  width 100%
  animation-duration $animation-duration
  animation-timing-function linear
  animation-fill-mode forwards
  animation-iteration-count infinite
  will-change: transform; 
  &:before
  &:after
    content ''
    display block
    width .6rem
    height 100%
    border-radius 50%
    background-color get-color(eyes)
    flex-shrink 0
    transform scale(.5) // Fix for a screen subpixels bug
    
.cat-him .cat-eyes-pupils
  animation-name: eyes-him
  

.cats-tailers
  position absolute
  top 100%
  left 2rem
  right 2rem
  display flex
  justify-content space-between
  
.cat-tail
  background-color get-color(background)
  position relative

.cat-him-tail
  width 3rem
  height 4.8rem
  border-radius: 0 0 0 3rem;
  &:before
    content: "";
    background-color: #072d47;
    border-radius: 0 0 0 2rem;
    width: 3.2rem;
    height: 3.87rem;
    position: absolute;
    top: 0;
    right: -1rem;
  &:after
    content: "";
    background-color: get-color(background)
    border-radius: 50%;
    position: absolute;
    width: 1rem;
    height: 0.93rem;
    bottom: 0;
    right: -0.5rem;

.cat-tail.cat-her-tail
  width: 0.5rem;
  height: 5rem;
  border-radius: 0 0 1rem 1rem;