html
  height 100%
  font-size 100%
  line-height 1.15
  -webkit-text-size-adjust 100%
body
  margin 0
  background-color get-color(background)
  overflow hidden
  display flex
  justify-content center
  align-items center
  height 100%

*
  box-sizing border-box