.window
  position relative
  height 26.65rem
  width 16.6rem
  display grid
  grid-template-rows 10.4rem 1fr
  align-items end
  &:before
    content ''
    width 100%
    height 2.2rem
    background-color get-color(background-300)
  &:after
    content ''
    margin-left -4.4rem
    margin-right -4.4rem
    height 2.25rem
    background-color get-color(background)

.window-inner
  position absolute
  inset 0 0 $sill-height
  overflow hidden
  display flex
  justify-content center
  &:after
  &:before
    position absolute
    content ''
    background-color get-color(background)
    width 51.5%
    height 5.3rem
    top -1.4rem
    z-index 1
  &:after
    left 0
    border-radius 0px 0px 100% 0px / 0px 0px 100% 0
  &:before
    right 0
    border-radius 0 0 0 8rem / 0 0 0 100%