{
  "plugins": ["stylelint-stylus"],
  "extends": ["stylelint-stylus/standard"],
  "rules": {
    "stylus/declaration-colon": "never",
    "stylus/pythonic": "always",
    "stylus/selector-list-comma": "never",
    "stylus/semicolon": "never",
    "stylus/single-line-comment": "always",
    "stylus/at-extend-style": ["@extend", "@extends"]
  }
}
