@import 'variables'
@import 'utils'

@import 'animations/heart'
@import 'animations/eyes'

@import 'components/layout'
@import 'components/window'
@import 'components/moonlight'
@import 'components/moon'
@import 'components/cat'
@import 'components/stars'
@import 'components/heart'


.painting
  position relative