$animation-length = 4.26
$animation-duration = unquote('' + $animation-length + 's')

$sill-height = 2.25rem
$heart-width = 1.6rem

colors = {
  primary-100: #0e649f,
  primary-200: #0e5893,
  background-300: #0c5083,
  primary-400: #0a4672,
  background: #062942,
  primary-600: #062c46,
  moon: #ffffff,
  moon-crater: #ededed,
  star: #ffffff,
  star-polar: #efce49,
  halo-small: #0e5e95,
  heart: #ef5489
}

:root
  for key, color in colors
    --color-{key} color
