@keyframes eyes-him
  0%
    height 100%
  +frame-percent(0.41)
    height 100%  
  +frame-percent(0.42)
    height 50%
  +frame-percent(0.48)
    height 50%  
  +frame-percent(0.49)
    height 100%
    
  +frame-percent(0.99)
    height 100%
    transform: translateX(0)
  +frame-percent(1.13)
    height 100%
    transform: translateX(-.4rem)
  +frame-percent(1.39)
    height 100%  
    transform: translateX(-.4rem)
  +frame-percent(1.40)
    height 0%
    transform: translateX(-.4rem)
  +frame-percent(1.46)
    height 0%  
    transform: translateX(-.4rem)
  +frame-percent(1.47)
    height 100%
    transform: translateX(-.4rem)
  +frame-percent(1.95)
    height 100%  
    transform: translateX(-.4rem)
  +frame-percent(1.96)
    height 50%
    transform: translateX(-.4rem)
  +frame-percent(2.02)
    height 50%  
    transform: translateX(-.4rem)
  +frame-percent(2.03)
    height 100%
  +frame-percent(2.87)
    height 100%
    transform: translateX(-.4rem)
  +frame-percent(3.01)
    height 100% 
    transform: translateX(0)
  +frame-percent(3.21)
    height 100%  
  +frame-percent(3.22)
    height 0%
  +frame-percent(3.28)
    height 0%  
  +frame-percent(3.29)
    height 100%
    
  100%
    height 100%