// animated heart-splash mixin
heart-splash(name, start)
  @keyframes {name + '-splash'}
    0%
      background transparent
    +frame-percent(start - 0.01)
      background transparent
    +frame-percent(start)
      background linear-gradient(to top, transparent 20%, white 20%, white 100%, transparent 100%)
    +frame-percent(start + 0.08)
      background linear-gradient(to top, transparent 50%, white 50%, white 100%, transparent 100%)
    +frame-percent(start + 0.08 + 0.08)
      background linear-gradient(to top, transparent 75%, white 75%, white 100%, transparent 100%)
    +frame-percent(start + 0.08 + 0.08 + 0.1)
      background transparent
    100%
      background transparent

// ** Heart1

heart-splash(heart-1, 2.87)

@keyframes heart-1-move
  0%
    transform rotate(0deg) translateX(0)

  +frame-percent(0.97)
    transform rotate(0deg) translateX(0)

  +frame-percent(2.87)
    transform rotate(-30deg) translateX(120px) translateY(-120px)

  100%
    transform rotate(-30deg) translateX(120px) translateY(-120px)

@keyframes heart-1-scale
  0%
    transform rotate(47deg) scale(0)

  +frame-percent(0.76)
    transform scale(0)

  +frame-percent(0.77)
    transform rotate(47deg) scale(0.1)

  +frame-percent(0.83)
    transform rotate(47deg) scale(0.1)

  +frame-percent(0.84)
    transform rotate(47deg) scale(0.4)

  +frame-percent(0.9)
    transform rotate(47deg) scale(0.4)

  +frame-percent(0.91)
    transform rotate(47deg) scale(0.6)

  +frame-percent(1.09)
    transform rotate(47deg) scale(0.4)

  +frame-percent(3)
    transform rotate(77deg) scale(1)

  +frame-percent(3.01)
    transform scale(0)

  100%
    transform scale(0)

// ** Heart2

heart-splash(heart-2, 4.04)

@keyframes heart-2-move
  0%
    transform rotate(0deg) translateX(0)

  +frame-percent(2.1)
    transform rotate(0deg) translateX(0)

  +frame-percent(4.1)
    transform rotate(30deg) translateX(-140px) translateY(-140px)

  100%
    transform rotate(30deg) translateX(-140px) translateY(-140px)

@keyframes heart-2-scale
  0%
    transform scale(0)

  +frame-percent(1.91)
    transform scale(0)

  +frame-percent(1.92)
    transform rotate(47deg) scale(0.1)

  +frame-percent(1.95)
    transform rotate(47deg) scale(0.1)

  +frame-percent(1.96)
    transform rotate(47deg) scale(0.4)

  +frame-percent(2.03)
    transform rotate(47deg) scale(0.4)

  +frame-percent(2.04)
    transform rotate(47deg) scale(0.6)

  +frame-percent(2.17)
    transform rotate(47deg) scale(0.4)

  +frame-percent(4.19)
    transform rotate(10deg) scale(1)

  +frame-percent(4.2)
    transform scale(0)

  100%
    transform scale(0)

// ** Heart3

heart-splash(heart-3, 1.63)

@keyframes heart-3-move
  0%
    transform rotate(0deg) translateX(0)

  +frame-percent(1.52)
    transform rotate(-30deg) translateX(0) translateY(-130px)

  +frame-percent(3.079)
    transform rotate(-30deg) translateX(0) translateY(-130px)

  +frame-percent(3.08)
    transform rotate(0) translateX(-10px) translateY(70px)

  +frame-percent(3.289)
    transform rotate(0) translateX(-10px) translateY(70px)

  +frame-percent(3.29)
    transform rotate(0) translateX(-10px) translateY(70px)

  100%
    rotate(0deg) translateX(0)


@keyframes heart-3-scale
  0%
    transform rotate(47deg) scale(0.5)

  +frame-percent(1.53)
    transform rotate(70deg) scale(1)

  +frame-percent(1.54)
    transform scale(0)

  +frame-percent(3.079)
    transform scale(0)

  +frame-percent(3.08)
    transform rotate(45deg) scale(0.1)

  +frame-percent(3.15)
    transform rotate(45deg) scale(0.1)

  +frame-percent(3.16)
    transform rotate(45deg) scale(0.3)

  +frame-percent(3.22)
    transform rotate(45deg) scale(0.4)

  +frame-percent(3.23)
    transform rotate(45deg) scale(0.4)

  100%
    transform rotate(47deg) scale(0.5)